<header
  class='grid grid-flow-col text-xs md:text-base fixed w-full justify-center p-2 gap-3 md:gap-7 bg-background z-10 print:hidden'
>
  <a href='/' class="hover:underline focus:underline">HOME</a>
  <a href='/about' class="hover:underline focus:underline">ABOUT</a>
  <a href='/repositories' class="hover:underline focus:underline">REPOSITORIES</a>
  <a href='/data' class="hover:underline focus:underline">DATA</a>
  <a href='/member' class="hover:underline focus:underline">MEMBERS</a>
</header>
